@font-face {
  font-family:  Roboto;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800 ;
}
@font-face
{
  font-family: Economica;
  src: url(assets/economica-bold.ttf)
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(231,147,184);
background: linear-gradient(90deg, rgba(231,147,184,1) 0%, rgba(121,171,230,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
